@import 'utils';

.projects {
  display: grid;
  gap: 20px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.head {
  margin: 40px auto;

  .titleSection {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }

  @include tablet {
    max-width: 50%;
  }
}

.card {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cardContent {
  margin-top: 10px;
  border-radius: $min-radius;
  border: solid 1px $border;
  padding: 15px;
  box-shadow: var(--shadow-card);
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: $primary;
}

.tags {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.description {
  margin: 7px 0;
  line-height: 1.6;
  @include text-wrap(2);
}

.icon {
  color: $primary;
  @include center;
}

.image {
  border: solid 1px $border;
  border-radius: $min-radius;
}
