@import 'utils';

.item {
  display: flex;
}
.link {
  padding: 8px 10px;
  color: $subtitle;
  font-size: 15px;
  border-radius: $min-radius;
  @include transition;
  &:hover {
    color: $title;
    background-color: $background-hover;
  }
  &.active {
    color: $title;
    font-weight: 600;
  }
}
