@import 'utils';

.btn {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  padding: 10px 14px;
  border-radius: $min-radius;
}

.outline {
  background: transparent;
  border: 2px solid $title;
  color: $title;
  &:hover {
    border-color: $primary;
    color: $primary;
  }
}
.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(16, 26, 71, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
