@import 'utils';

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
  width: fit-content;
  mark {
    font-weight: bold;
    color: $primary;
  }
  @include tablet {
    font-size: 50px;
  }
  @include desktop {
    font-size: 60px;
  }
}
