@import 'utils';

.container {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    .table {
      width: 30%;
    }
    .content {
      width: 70%;
    }
  }
}
.table {
  --footer-height: 200px;
  display: none;
  @include desktop {
    display: block;
    --footer-height: 160px;
    position: sticky;
    top: var(--footer-height);
    height: calc(100vh - var(--navbar-height) - var(--footer-height));
  }
}
