@import 'utils';

.navbar {
  @include space-between;
  padding: var(--padding-container);
  height: var(--navbar-height);
  position: sticky;
  top: 0;
  background-color: $background;
  z-index: $z-navbar;
}

.list {
  @include flex;

  @include mobile {
    display: none;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: var(--navbar-height);
    flex-direction: column;
    align-items: flex-start;
    background-color: $background;
    width: 100%;
  }

  &.open {
    display: flex !important;
  }
}

.ctrls {
  display: flex;
  gap: 15px;

  @include mobile {
    width: 100%;
    justify-content: space-between;
  }
}

.menu,
.theme {
  padding: 10px;
  @include center;
}

.menu {
  @include desktop {
    display: none;
  }
}

.theme {
  color: $text;
  border: solid 1px $border;
  font-size: 15px;
  padding: 8px;
  @include transition(border);

  &:hover {
    background-color: $background-hover;
  }
}
