@import 'utils';

.head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.timeLine {
  --margin: 16px;
  --height: 160px;
  --odd-dot: calc(-1 * var(--margin) - 6px);
  position: relative;
  display: grid;
  gap: 10px;
  margin-left: 15px;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: $background-selection;
    border-radius: $min-radius;
    left: calc(-1 * var(--margin));
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - var(--height));
  }

  @include tablet {
    margin-left: 0px;

    &::before {
      top: calc(var(--height) / 2);
      left: calc(50%);
      transform: translateX(-50%);
    }
  }
}

.item {
  position: relative;
  padding: 15px;
  border: solid 1px $border;
  border-radius: $min-radius;
  min-height: 140px;

  &::after {
    content: '';
    position: absolute;
    height: 17px;
    width: 17px;
    background-color: $primary;
    top: 50%;
    transform: translateY(-50%);
    left: var(--odd-dot);
    border-radius: 50%;
  }

  @include tablet {
    width: 49%;

    .head .date {
      position: absolute;
      background-color: $background-selection;
      padding: 2px 8px;
      border-radius: $min-radius;
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(even) {
      margin-left: auto;

      .head .date {
        left: -100px;
      }
    }

    &:nth-child(odd) {
      .head .date {
        right: -100px;
      }

      &::after {
        right: var(--odd-dot);
        left: inherit;
      }
    }
  }
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
  @include text-wrap(2);
}

.date {
  color: $primary;
  line-height: 1;
  padding: 5px 2px;
  font-size: 19px;
}

.content {
  @include text-wrap(2);
  line-height: 1.6;
}