@import 'utils';
.blog {
  margin-top: 0px;
}
.container {
  display: grid;
  gap: 20px;
  @include tablet {
    grid-template-columns: 1fr 0.4fr;
  }
  @include desktop {
    grid-template-columns: 1fr 0.6fr;
  }
}

.posts,
.packages {
  margin-top: 20px;
  display: grid;
  gap: 20px;
}
.packages {
  gap: 15px;
}
