@import 'utils';

.item {
  font-size: 18px;
  margin: 7px 5px;

  .list {
    margin-left: 15px;
    border-left: solid 1px $border;
  }
}

.nest {
  display: none;
}

.show {
  display: block;
}

.link {
  color: $text;
  font-size: 17px;
  padding: 6px 8px;
  border-radius: $min-radius;
  @include transition;

  &::first-letter {
    text-transform: uppercase;
  }

  &:hover {
    color: $title;
    background-color: $background-hover;
  }
}
