// [PALETTE]
$primary: #3b82f6;
// [FOREGROUNDS]
$title: #f8f8f8;
$text: #868d99;
// [BORDERS]
$border: #24292f;
// [BACKGROUNDS]
$background: #0c0e10;
$background-hover: #181b20;
$background-selection: #5f96fa10;
$background-chip: #3b83f61c;

// [ANIMATIONS]
$animation-duration: 0.2s;
$animation-timing-function: ease-in-out;
$animation-properties: background-color, color;

// [METRICS]
$min-radius: 6px;
$max-radius: 1000px;

// [POSITIONS]
$z-navbar: 100;

// [MIXINS]
@mixin grid {
  display: grid;
  gap: 15px;
}

@mixin flex($gap: 15px) {
  display: flex;
  gap: $gap;
  align-items: center;
}

@mixin center {
  display: grid;
  place-content: center;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin full-content {
  width: 100%;
  height: 100%;
}

@mixin text-wrap($lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin transition($property: $animation-properties) {
  transition: $animation-duration $animation-timing-function;
  transition-property: $property;
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 900px) {
    @content;
  }
}

// [ANIMATIONS]
@mixin animate($animation-name: pulse, $animation-duration: 0.5s) {
  animation-name: $animation-name;
  animation-duration: $animation-duration;
  animation-timing-function: $animation-timing-function;
  animation-fill-mode: both;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
